.container {
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.menuContent {
  max-width: 100vw;
}

.bodyContainer {
  padding: 24px 16px 24px 16px;
  flex-direction: column;
  width: 85%;
}

.categoryText {
  color: #ff914d;
  font-size: 20px;
  font-weight: bold;
}

.productItem {
  flex-direction: column;
  border: 2px solid gray;
  border-radius: 4px;
  padding: 8px;
}

.prodImg {
  width: 100%;
  padding: 4px;
}

.productTitle {
  font-size: 24px;
  font-weight: bold;
  padding-top: 16px;
}

.productWeight {
  font-size: 16px;
  color: gray;
}
