.container {
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.menuContent {
  max-width: 100vw;
}

.bodyContainer {
  padding: 24px 16px 24px 16px;
  flex-direction: column;
  width: 85%;
  border-left: 2px solid gray;
}

.categoryText {
  color: #ff914d;
  font-size: 20px;
  font-weight: bold;
}
