.container {
  flex-direction: column;
  padding: 56px 0 0 0;
}

.welcomeText {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
}

.promptText {
  font-size: 16px;
  text-align: center;
  padding-top: 8px;
}

.LogInContainer {
  box-sizing: border-box;
  justify-content: start;
  width: auto;
  min-width: 35%;
  height: auto;
  min-height: calc(50vh);
  flex-direction: column;
  padding: 36px 36px;
  border-radius: 24px;
  box-shadow: 0 11px 34px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  margin-top: 48px;
}

.emailInputContainer {
  flex-direction: column;
}

.formText {
  font-size: 14px;
  padding-top: 8px;
}

.continueButton {
  margin: 16px 0px 24px 0px;
}

.bottomText {
  font-size: 12px;
  color: gray;
  cursor: pointer;
}
