/* .container { */
/*     flex-direction: column; */
/*     padding: 56px 0 0 0; */
/* } */

.orderText {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.MapContainer {
    box-sizing: border-box;
    justify-content: start;
    width: 87%;
    min-width: 35%;
    height: auto;
    flex-direction: column;
    padding: 36px 36px;
    border-radius: 24px;
    box-shadow: 0 11px 34px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
}
