.container {
    flex-direction: column;
    padding: 56px 0 0 0;
}

.sigUpContainer {
    position: sticky;
    box-sizing: border-box;
    justify-content: start;
    width: auto;
    min-width: 35%;
    height: auto;
    max-height: calc(200vh);
    max-width: calc(400vh);
    flex-direction: column;
    padding: 36px 36px;
    border-radius: 24px;
    box-shadow: 0 11px 34px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

.welcomeText {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.formBox {
    margin-bottom: 15px;
}

.formBoxLabel {
    display: block;
    margin-bottom: 5px;
}

.formBoxInput {
    border: none;
    width: 100%;
    border-radius: 5px;
    height: 50px;
    outline: none;
    padding-left: 10px;
    border: 1px solid #999;
}

.formBoxError {
    font-size: 12px;
    margin-top: 4px;
    color: red;
}

.continueButton {
    margin: 16px 0px 24px 0px;
}

.bottomText {
    font-size: 12px;
    color: gray;
    cursor: pointer;
}

/* .showpassword_box {
    display: flex;
    margin-top: 25px;
}

.showpassword_box p {
    margin-left: 10px;
    font-size: 18px;
} */